/*------------------------------------------------------------------------------
  3.2 Esque Footer
------------------------------------------------------------------------------*/


/*footer*/
#wpfooter {
	height:14px;
	padding-top:5px;
	padding-left:37px;
	padding-right:34px;
	margin-right:0;
	border-bottom:#dfdfdf 1px solid;
	text-shadow:#fff 0 1px 0;
	background:#ddd;
}